* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "Roboto", sans-serif;
    
  }

  div{
    padding: 50px 10%;

  }

.message{
    align-items: center;
    
}

.message h1{
    padding-bottom: 1rem;
}

.message p{
    font-weight: 500;
}

.image img{
    width: 18rem;
    height: 18rem;

}